/* Todos os elementos da página */
* {
    margin: 0px;
    padding: 0px;
}

/* Todos os elementos da tag body */
body {
    display: flex;
    padding-top: 10%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    color: blueviolet;
    justify-content: center;
}

/* Todos os elementos do input*/
input {
    font-size: 1em;
    color: blueviolet;
    margin: 10px 0px;
}

/* Todos os elementos do botão */
button {
    color: blueviolet;
    font-size: 1em;
}